<h1>Cargos</h1>
@(Html.Kendo().Grid<JJServicios.DB.Contracts.EmployeePosition>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.Name).Title("Nombre del cargo");
          columns.Bound(c => c.AgentId).Hidden(true);
          columns.Bound(c => c.CreatedDate).Hidden(true);
          columns.Bound(c => c.UpdateDate).Hidden(true);
          columns.Command(command =>
          {
              command.Edit()
          .Text(" ").UpdateText(" ").CancelText(" ");
              command.Destroy().Text(" ");
          }).Width(160);

      })
      .ToolBar(toolbar => {
          toolbar.Create().Text("Nuevo");
      })
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .Pageable()
      .Sortable(sortable => {
          sortable.SortMode(GridSortMode.SingleColumn);
      })
      .Filterable()
      .Scrollable()
            .Events(events =>
       {
           events.SaveChanges("onSaveChanges");
           events.Remove("onSaveChanges");
           events.Save("onSaveChanges");
           events.Edit("onSaveChanges");
       })
      .DataSource(dataSource => dataSource
          .Ajax()
                    .Model(model =>
                    {
                        model.Id(p => p.Id);
                        model.Field(fld => fld.CreatedDate).Editable(false);
                    })
          .Read(read => read.Action("EmployeePosition_Read", "EmployeePosition"))
          .Create(create => create.Action("EmployeePosition_Create", "EmployeePosition"))
          .Update(update => update.Action("EmployeePosition_Update", "EmployeePosition"))
          .Destroy(destroy => destroy.Action("EmployeePosition_Destroy", "EmployeePosition"))
      )
)
