@using JJServicios.Web.Models
@{
    ViewBag.Title = "Home Page";
}
<h1>Resumen cuenta secundaria</h1>
<style type="text/css">
   td {text-align:right;} 
</style>

@(Html.Kendo().Grid<SummaryViewModel>()
      .Name("grid")
            .HtmlAttributes(new { style = "height:550px;" })
      .Columns(columns =>
      {
          columns.Bound(c => c.BankAccountId).Hidden(true);
          columns.Bound(c => c.AgentName).Title("Agente").Width(80).Filterable(false).ClientTemplate("<div style='text-align:center';>#=AgentName#</div>");
          columns.Bound(c => c.MovementDate).Title("Fecha de creación").ClientTemplate("#=kendo.toString(MovementDate,'yyyy-MM-dd h:mm:ss tt')#").Filterable(filterable => filterable.Extra(true).Operators(operators => operators.ForDate(str => str.Clear()
.IsGreaterThanOrEqualTo("Mayor o igual a")
.IsLessThanOrEqualTo("Menor o igual a"))));
          columns.Bound(c => c.MovementType).Title("Tipo de Movimiento").Filterable(false);
          columns.Bound(c => c.AmountInString).Title("Cantidad").Filterable(false).ClientTemplate("<div style='color:blue';>#=AmountInString#</div>");
          columns.Bound(c => c.AmountOutString).Title("Cantidad").Filterable(false).ClientTemplate("<div style='color:red';>#=AmountOutString#</div>");
          columns.Bound(c => c.Observations).Title("Observaciones").Filterable(false);
          columns.Bound(c => c.TotalString).Title("Total a la fecha").Filterable(false);
      })
      .Scrollable()
      .Pageable()
      .Filterable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Sort(sort => sort.Add("MovementDate").Descending())
          .Read(read => read.Action("Agent_Read", "Summary"))
          .PageSize(20)
      )
      )

