@model string

@{
    var selectedList = (SelectList)ViewData["Employees"];
}
@{
    <select id="EmployeeId" name="EmployeeId">
        @foreach (var item in selectedList)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
}

