/* 	--------------------------------------------------
    CRUNCHee - Made by Crunch - TYPOGRAPHY
    -------------------------------------------------- */


/* 	--------------------------------------------------
	TABLE OF CONTENTS
    -------------------------------------------------- 

	LINKS
	LISTS
 	MISC
	TYPOGRAPHY
	BUTTONS
	TABLES
	LABELS
	
*/



/*	--------------------------------------------------
	LINKS
	-------------------------------------------------- */
	
	a { 
		color: #ed6d19; 
		text-decoration: none; 
		line-height: inherit; 
		cursor:pointer; 
		}
	a,
	button,
	button span,	
	a span,
	a strong,
	input,
	textarea, 
	select,
	li .overlay { 
		
		-webkit-transition: all 0.25s ease;
		-moz-transition: all 0.25s ease;
        -ms-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
		transition: all 0.25s ease;
		}
	header { 	
		-webkit-transition: height 0.25s linear;
		-moz-transition: height 0.25s linear;
        -ms-transition: height 0.25s linear;
        -o-transition: height 0.25s linear;
		transition: height 0.25s linear;
		}
	header .navigation a.expand { 	
		-webkit-transition: none;
		-moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
		transition: none;
		}	
	a:hover { 
		text-decoration: underline; 
		}
	a:focus { 
		outline: none; 
		}
	a:visited { 
		outline: none;  
		}
	p a, p a:visited { line-height: inherit; }
	a.see_all { 
		position:absolute; 
		top:13px; 
		right:0; 
		font-size:11px; font-size:1.1rem; 
		}
	
	table tr.black_bg td a,
	table tr.orange_bg td a,
	nav.main a {
		color:#fff;
		}	
	footer a {
		color:#999;
		}
	a.back_to_skins {
		position:absolute;
		top:-50px;
		left:0;
		color:#ccc;
		font-size:11px; font-size:1.1rem;			
		}
	
	@media (min-width:980px) {
				
	a.back_to_skins {
		left:10px;			
		}
				
	}
	
	@media (min-width:768px) and (max-width:979px) {
				
	a.back_to_skins {
		top:-40px;		
		left:0;			
		}
				
	}
	
	@media (max-width:767px) {
				
	a.back_to_skins {
		position:relative;
		top:0;	
		display:block;			
		margin:0 0 20px;
		}
				
	}

	

/*	--------------------------------------------------
	LISTS
	-------------------------------------------------- */
	
	ul, ol { 
		padding:0 0 15px; 
		}
	ul { 
		padding-left:16px;
		list-style: disc outside; 
		}
	ol { 
		padding-left:20px;
		list-style: decimal; 
		}
	ul ul,
	ol ol {
		padding:5px 0 5px 10px;
		}
	ul ul {
		list-style: circle outside; 
		}
	ol ol {
		list-style: lower-roman; 
		}
	ol, 
	ul.square, 
	ul.circle, 
	ul.disc { 
		}
	ul.square { 
		list-style: square outside; 
		}
	ul.circle { 
		list-style: circle outside; 
		}
	ul.disc { 
		list-style: disc outside; 
		}
	li { 
		}
	ul.large li { 
		line-height: 21px; 
		}
		
	dl { 
		padding-bottom:15px;
		}
	.skin_details dl {
		font-size:13px; font-size:1.3rem;
		}	
	dl.date {

		}	
	dl.date.update {
		float:right;
		}	
	dl.version {
		clear:both;
		}		
	dl dt {
		padding-bottom:2px;
		}	
	dl dd { 
		padding-bottom:5px; 
		}
	


/* 	-------------------------------------------------- 
	MISC
	-------------------------------------------------- */
	
	.left { 
		float: left; 
		}
	.right { 
		float: right; 
		}
	.text_left { 
		text-align: left; 
		}
	.text_right { 
		text-align: right; 
		}
	.text_center { 
		text-align: center; 
		}
	.text_upper { 
		text-transform:uppercase; 
		}
	.hide { 
		display: none; 
		}
	.highlight { 
		background: none; color:#ed6d19; 
		}
	.highlight.grey {
		color:#999!important;
		}
	.highlight_bg { 
		background-color:#ed6d19; 
		color:#fff;
		}

	.label {
		display:inline-block;
		background-color:#ed6d19;
		color:#fff;
		padding:0 5px;
		}
	
	object, embed { 
		max-width: none; 
		}

	#map embed { 
		max-width: none; 
		}
	#map img { 
		max-width: none; 
		}
	#map object { 
		max-width: none; 
		}
	
	img { 
		max-width:100%; 
		height:auto; 
		}
	.image img { 
		max-width:100%; 
		height:auto; 
		}
	
	#map {
		overflow:hidden;
		margin-bottom:10px;
		}



/* 	BASED UPON THE WORK ARTFULLY MASTERMINDED BY ZURB */
/*	--------------------------------------------------
	TYPOGRAPHY
	-------------------------------------------------- */
	
	html {
		font-size: 62.5%;
		}
	body { 
		font-size: 15px; font-size: 1.5rem; /* =15px */
		font-family: "museo-sans-n3", "museo-sans",sans-serif;
		font-style:normal;
		font-weight: 300;
		color:#6e6e6e;
		} 
	input,
	select,
	textarea, 
	button,
	label {
		font-size: 15px; font-size: 1.5rem; /* =15px */
		font-family: "museo-sans-n3", "museo-sans",sans-serif;
		font-style:normal;
		font-weight: 300;
		}
	
	h1, h2, h3, h4, h5, h6, .heading, .title, dt,
	nav.sub ul li a.active, nav.sub p.heading a,
	table tr th,
	fieldset .general label,
	fieldset div.general span.wrap .box {
		color: #1b1b1b; 
		}
	h1, h2, h3, h4, h5, h6, .heading, .title, .pricing_tables ul li.price sup,
	dt,
	nav.sub ul ul,
	.listing.dashboard ul li a .status,
	.listing.dashboard ul li a time,
	nav.sitemap ul ul ul a,
	.thefeatures a {
		font-family: "museo-sans-n3", "museo-sans",sans-serif;
		font-style:normal;
		font-weight: 300;
		}
	.banner h1,
	.banner p,
	.banner_strip p,
	footer .heading,
	.outro_strip.orange_bg .heading,
	.pricing_tables ul li.sales_note,
	.register fieldset .radiobutton ul li strong,
	.intro_video p.heading,
	.thefeatures a,
	.black_bg .heading {
		color:#fff;
		}
	.thefeatures a i {
		color:#ed6d19;
		}
	.outro_strip.orange_bg p,
	table tr.black_bg td,
	table tr.orange_bg td,
	.intro_video p {
		color:#eee;
		}
	.banner_strip p,
	footer .heading {
		text-transform:uppercase;
		}	
	span.button,
	button.button,
	h1,
	footer .heading,
	.banner h1,
	.pricing_tables ul li.price,
	.pricing_tables ul li.title,
	nav.sub p.heading,
	.register fieldset .radiobutton ul li strong,
	body.holding_page .ajax_wrap .ajax_loading .loading span.message {
		font-family: "museo-sans-n7", "museo-sans",sans-serif;
		font-style:normal;
		font-weight: 700;
		}
	body.home .banner h1.heading {
		font-family:"museo-sans-n9", "museo-sans",sans-serif;
		font-style:normal;
		font-weight:900;
		}
	span.button,
	button.button,
	nav.main,
	footer .heading,
	.banner_strip p,
	.pricing_tables ul li.title,
	.pricing_tables ul li.sales_note,
	.register fieldset .radiobutton ul li strong,
	.register fieldset .radiobutton ul li .price {
		letter-spacing:0.05em;
		text-transform:uppercase;
		}
	.banner_strip p,
	nav.sub ul,
	.pricing_tables ul li.sales_note,
	table tr th,
	a,
	.gallery ul li a strong.title,
	nav.main ul li a,
	fieldset div.general span.wrap .box {
		font-family: "museo-sans-n5", "museo-sans",sans-serif;
		font-style:normal;
		font-weight: 500;
		}
	
	h1, h2, h3, h4, h5, h6 { 
		line-height: 1.25;
		}
	h1 { font-size: 36px; font-size: 3.6rem; padding: 0 0 5px; }
	h2 { font-size: 26px; font-size: 2.6rem; padding: 15px 0 10px; }
	h3 { font-size: 18px; font-size: 1.8rem; padding: 15px 0 10px; }
	h4 { font-size: 16px; font-size: 1.6rem; padding: 10px 0; }
	h5, h6 { font-size: 14px; font-size: 1.4rem; padding: 10px 0; }

	.heading {
		font-size: 20px; font-size: 2.0rem;
		}
	footer .heading {
		font-size: 14px; font-size: 1.4rem;
		}
	.heading.big {
		font-size: 30px; font-size: 3.0rem;
		padding-bottom:15px;
		}
		
	.subheading { 
		color: #777; 
		font-weight: 300; 
		margin-bottom: 24px; 
		}

	p, span.text { 
		padding: 0 0 15px; 
		}
	.banner_strip p {
		padding:0;
		}	
	p, span.text { 
		line-height: 1.4; 
		}
	p.heading { 
		padding:10px 0;
		}
	footer p.heading {
		padding:0 0 15px;
		}
	p.intro { 
		font-size: 18px; font-size: 1.8rem; 
		}
	p img { 
		margin: 0; 
		}
	p#skip { 
		display:none; 
		}
	p.who {
		font-size:12px; font-size:1.2rem; 
		font-style:italic;
		padding:5px 0; 
		}
	p.note {
		font-size:13px; font-size:1.3rem; 
		padding-bottom:0;
		}	
	
	em, i { font-style: italic; line-height: inherit; }
	strong, b { font-weight: bold; line-height: inherit; }
	small, p.small { font-size: 75%; line-height: inherit; }
	
	h1 small, h2 small, h3 small, h4 small, h5 small { color: #777; }
	
	i.fa.after {
		margin-left:5px;
		margin-right:0;
		}
	
	/*	Blockquotes  */
	blockquote, blockquote p { line-height: 20px; color: #777; }
	blockquote { margin: 0 0 20px; padding: 0 20px 0 20px; border-left: 5px solid #ddd; }
	blockquote cite { display: block; font-size: 11px; font-size: 1.1rem; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited { color: #555; }
	
	hr { border: solid #eee; border-width: 1px 0 0; clear: both; margin: 20px auto; height: 0; width:100%; }
	.black_bg hr { border-color:#333; }
	
	abbr, acronym { text-transform: uppercase; font-size: 90%; color: #222; border-bottom: 1px solid #ddd; cursor: help; }
	abbr { text-transform: none; }
	
	
	pre {
		overflow-x:auto;
		}
		              
                            
                            
/*  --------------------------------------------------
    ICONS         
    -------------------------------------------------- */

	i.icon {
		width:16px;
		height:16px;
		display:inline-block;
		top:3px;
		position:relative;
		margin-right:5px;
		background-image:url('/images/icons/all.png');
		background-repeat:no-repeat;
		}
		
	i.icon.comment {
		background-position:left top;
		}
		i.icon.comment.white {
			background-position:-16px top;
			}
		i.icon.comment.black {
			background-position:-32px top;
			}
			
	i.icon.download {
		background-position:left -16px;
		}
		i.icon.download.white {
			background-position:-16px -16px;
			}
		i.icon.download.black {
			background-position:-32px -16px;
			}
			
	i.icon.upload {
		background-position:left -32px;
		}
		i.icon.upload.white {
			background-position:-16px -32px;
			}
		i.icon.upload.black {
			background-position:-32px -32px;
			}
			
	i.icon.document {
		background-position:left -48px;
		}
		i.icon.document.white {
			background-position:-16px -48px;
			}
		i.icon.document.black {
			background-position:-32px -48px;
			}
			
	i.icon.arrow_right {
		background-position:left -64px;
		}
		i.icon.arrow_right.white {
			background-position:-16px -64px;
			}
		i.icon.arrow_right.black {
			background-position:-32px -64px;
			}
			
	i.icon.arrow_left {
		background-position:left -80px;
		}
		i.icon.arrow_left.white {
			background-position:-16px -80px;
			}
		i.icon.arrow_left.black {
			background-position:-32px -80px;
			}
			
	i.icon.arrow_down {
		background-position:left -96px;
		}
		i.icon.arrow_down.white {
			background-position:-16px -96px;
			}
		i.icon.arrow_down.black {
			background-position:-32px -96px;
			}
			
	i.icon.arrow_up {
		background-position:left -112px;
		}
		i.icon.arrow_up.white {
			background-position:-16px -112px;
			}
		i.icon.arrow_up.black {
			background-position:-32px -112px;
			}
			
	i.icon.layout {
		background-position:left -128px;
		}
		i.icon.layout.white {
			background-position:-16px -128px;
			}
		i.icon.layout.black {
			background-position:-32px -128px;
			}
			
	i.icon.share {
		background-position:left -144px;
		}
		i.icon.share.white {
			background-position:-16px -144px;
			}
		i.icon.share.black {
			background-position:-32px -144px;
			}
			
	i.icon.user {
		background-position:left -160px;
		}
		i.icon.user.white {
			background-position:-16px -160px;
			}
		i.icon.user.black {
			background-position:-32px -160px;
			}
			
	i.icon.tick {
		background-position:left -176px;
		}
		i.icon.tick.white {
			background-position:-16px -176px;
			}
		i.icon.tick.black {
			background-position:-32px -176px;
			}
			
	i.icon.cross {
		background-position:left -192px;
		}
		i.icon.cross.white {
			background-position:-16px -192px;
			}
		i.icon.cross.black {
			background-position:-32px -192px;
			}
			
	i.icon.heart {
		background-position:left -208px;
		}
		i.icon.heart.white {
			background-position:-16px -208px;
			}
		i.icon.heart.black {
			background-position:-32px -208px;
			}
			
	i.icon.pin {
		background-position:left -224px;
		}
		i.icon.pin.white {
			background-position:-16px -224px;
			}
		i.icon.pin.black {
			background-position:-32px -224px;
			}
			
	i.icon.camera {
		background-position:left -240px;
		}
		i.icon.camera.white {
			background-position:-16px -240px;
			}
		i.icon.camera.black {
			background-position:-32px -240px;
			}
			
	i.icon.mail {
		background-position:left -256px;
		}
		i.icon.mail.white {
			background-position:-16px -256px;
			}
		i.icon.mail.black {
			background-position:-32px -256px;
			}
			
	i.icon.folder {
		background-position:left -272px;
		}
		i.icon.folder.white {
			background-position:-16px -272px;
			}
		i.icon.folder.black {
			background-position:-32px -272px;
			}
			
	i.icon.search {
		background-position:left -288px;
		}
		i.icon.search.white {
			background-position:-16px -288px;
			}
		i.icon.search.black {
			background-position:-32px -288px;
			}
			
	i.icon.video {
		background-position:left -304px;
		}
		i.icon.video.white {
			background-position:-16px -304px;
			}
		i.icon.video.black {
			background-position:-32px -304px;
			}
		              
                            
                            
/*  --------------------------------------------------
    BUTTONS         
    -------------------------------------------------- */
	
	div.button,
	span.button a,
	button.button {
		display:inline-block;
		margin-right:10px;
		/* IE7 */
		zoom:1;
		*display:inline;
		color:#fff;
		text-align:center;
		border:1px solid #ed6d19;
		text-decoration:none!important;
		font-size:14px; font-size:1.4rem;
		text-transform:uppercase;
		
		-webkit-transition: all 0.15s ease;
		-moz-transition: all 0.15s ease;
        -ms-transition: all 0.15s ease;
        -o-transition: all 0.15s ease;
		transition: all 0.15s ease;
		
		/*
		background-image: url('../images/icons/buttons.png');
		background-repeat:repeat-x;
		background-position:center;
		*/
		
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		
		/*
		box-shadow: 0 2px 0 rgba(255, 255, 255, 0.4) inset;
		*/
		}
		
	span.button.right a,
	button.button.right {
		float:right;
		margin-right:0;
		margin-left:10px;
		}
		
	/* SIZE */	
	div.button.block,
	span.button.block a,
	button.button.block {
		display:block;
		margin-right:0;
		}
	span.button.small a,
	button.button.small {
		
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		}
	span.button.big a,
	button.button.big {
		font-size:18px; font-size:1.8rem;
		
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
		}
	
	/* COLOUR */	
	span.button a,
	button.button {
		background-color: #ed6d19;
		border-color:#ed6d19;
		}
	span.button.green a,
	button.button.green {
		background-color:#7FAE00;
		border-color:#7FAE00;
		}
	span.button.amber a,
	button.button.amber {
		background-color:#F68B01;
		border-color:#F68B01;
		}
	span.button.red a,
	button.button.red {
		background-color:#C00000;
		border-color:#C00000;
		}
	span.button.grey a,
	button.button.grey {
		background-color:#999;
		border-color:#999;
		}
	div.button.white,
	span.button.white a,
	button.button.white {
		background-color:#fff;
		border-color:#fff;
		color:#1b1b1b;
		}
	span.button.black a,
	button.button.black {
		background-color:#000;
		border-color:#000;
		}
		
	div.button.no_bg,
	span.button.no_bg a,
	button.button.no_bg {
		background:none!important;
		border-color:#fff!important;
		color:#fff;
		}
	span.button.no_bg.orange_borders a,
	button.button.no_bg.orange_borders {
		background:none!important;
		border-color:#ed6d19!important;
		color:#ed6d19;
		}
	span.button.no_bg.black_borders a,
	button.button.no_bg.black_borders {
		background:none!important;
		border-color:#1b1b1b!important;
		color:#1b1b1b;
		}
	
	.listing.skins div.button.no_bg:hover {
		background-color:#fff!important;
		color:#1b1b1b;
		}
		
	
	/* PADDING */	
	div.button span,
	span.button a span,
	button.button span {
		padding:10px 15px;
		display:block;
		}
	span.button.small a span,
	button.button span {
		padding:5px 15px;
		}	
	span.button a:hover,
	button.button:hover {
		
		/*
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);
		-moz-opacity: 0.8;
		-khtml-opacity: 0.8;
		opacity: 0.8;
		*/
		}
	span.button.black a:hover,
	button.button.black:hover {
		background-color:#1b1b1b;
		border-color:#1b1b1b;
		}
	span.button.big a:hover,
	button.button.big:hover {
		}
		
	
	/* ACTIVE */
	span.button a:active,
	button.button:active {
		position:relative;
		top:1px;
		}	



/*  --------------------------------------------------
    TABLES
    -------------------------------------------------- */

	table { 
		width:100%; 
		background-color: #fff; 
		margin: 0 0 20px; 
  
	    border-collapse: separate;
	    *border-collapse: collapse; /* IE7 and lower */
	    border-spacing: 0;  
	
		/*
		-moz-border-radius: 5px; 
		-webkit-border-radius: 5px; 
		border-radius: 5px; 
		*/
		}
	
	table thead th { 
		}
	table tr th,
	table tr td { 
		padding:15px 20px;
		text-align:left;
		}
	table tr td pre {
		padding:0;
		}
	table tr td {
		background-color: #f6f6f6; 
		border-bottom:1px solid #fff;
		}
	table thead tr th.first, 
	table tfoot tr td.first { 
		border-left: none; 
		}
	table thead tr th.last, 
	table tfoot tr td.last { 
		border-right: none; 
		}

	table tr.even td { 
		}
	table tr td { 
		}
		
				
	.basket {
		overflow:hidden;
		height:100%;
		margin-bottom:30px;				
		}
	.basket table {	
		}
	.basket table tr td {
		background-color:#fff;
		border-bottom:1px solid #ddd;	
		border-left:1px solid #ddd;				
		}
	.basket table tr td.order {
		padding:25px 20px;			
		font-size:20px; font-size:2.0rem;
		border:2px solid #ddd;
		}
	.basket table tr td.title {
		width:80%;					
		}
	.basket table tr td.price {
		border-right:1px solid #ddd;
		}


	body.printable_invoice table {
		border-top:1px solid #ddd;	
		border-right:1px solid #ddd;	
		}
	body.printable_invoice table tr th,
	body.printable_invoice table tr td {
		border-bottom:1px solid #ddd;	
		border-left:1px solid #ddd;	
		}

	body.printable_invoice table.header {
		margin:0 0 20px;
		border:0 none;
		}
	body.printable_invoice table.header h1 {
		margin:10px 0;
		}
	body.printable_invoice table.header tr td {
		background-color:#fff;
		border:0 none;
		padding:0;
		}
	body.printable_invoice table.header table {
		border-top:1px solid #ddd;	
		border-right:1px solid #ddd;
		}
	body.printable_invoice table.header tr td table tr td {
		border-bottom:1px solid #ddd;	
		border-left:1px solid #ddd;	
		background-color:#f6f6f6;
		padding:10px;
		}
		
		
	.payment_types table,
	.payment_types table tr th,
	.payment_types table tr td {
		background:none;
		}	


/*	--------------------------------------------------
	END
	-------------------------------------------------- */
	
	








/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
